


.presentation-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.presentation-text p{
    font-family: 'Questrial';
    font-size: 1.5em;
    width: 40%;
}

.presentation-text img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.presentation-skills{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 6%;
}

.skill:hover{
    box-shadow: 0 0 30px var(--color);
    transition: 0.5s ease-out;
}


.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(11, 11, 11);
    border: solid 0.5px rgb(31, 31, 31);
    border-radius: 20px;
}

.skill img {
    width: 60%;
}

@media screen and (max-width : 900px){
    .presentation-text{
        flex-direction: column;
        align-items: center;
    }
    .presentation-text p{
        text-align: center;
        font-size: 1em;
        width: 90%;
    }
    .presentation-text img{
        width: 100px;
        height: 100px;
    }
}