.hero{
    display: flex;
    justify-content: center;
}


.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.hero-text h1{
    font-family: 'Horizon', sans-serif;
    font-size: 4em;
    margin-bottom: 0;
}

.hero-text h2{
    font-family: "Questrial", sans-serif;
    font-weight: lighter;
    align-self: end;
    margin-top: 0;
}

.hero-mac{
    width: 60%;
    position: absolute;
    top: 50;
    z-index: -10;
}

@media screen and (max-width : 900px){
    .hero{
        margin-top: 20%;
    }
    .hero-text h1{
        font-size:large;
    }
    .hero-text h2{
        font-size:medium;
    }
    .hero img{
        width: 100%;
    }
}