.presentation{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.presentation p{
    font-family: 'Questrial';
    font-size: 1.5em;
    width: 40%;
}

@media screen and (max-width : 900px){
    .presentation{
        flex-direction: column;
        align-items: center;
    }
    .presentation p{
        text-align: center;
        font-size: 1em;
        width: 90%;
    }
}