.projects{
    margin-top: 5%;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 3%;
}

.project-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-logo{
    width: 10%;
    height: 10%;
    border-radius: 33px;
}
.project-page{
    width: 55%;
}

.project-info{
    margin-top: 5%;
    width: 35%;
    font-family: "Questrial", sans-serif;
}



.project-website{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right,  #0e1938 0%, #6b41bf 25%, #f359d2 50%, #ffc2c3 75%);
}

.project-website h2{
    font-family: 'Horizon', sans-serif;
    font-size: 2.5em;
}

