footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 3, 3);
    padding: 5%;
    font-family: "Questrial", sans-serif;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-nav li{
    list-style: none;
}



.footer-info{
    display: flex;
    flex-direction: column;
    align-items: end;
}
#logo-footer{
    width: 10%;
}

.footer-contact{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 6%;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100px;
    height: 100px;
}

.contact img {
    width: 60%;
}

@media screen and (max-width : 900px) {
    
    #logo-footer{
        width: 20%;
    }
    .contact{
        width: 50px;
        height: 50px;
    }
}