@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face {
  font-family: 'Horizon';
  src: url('/fonts/Horizon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  background-color: #000000;
  color: white;
}

