.hero{
    display: flex;
    justify-content: center;
    min-height: 90vh;
}


.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero-text h1{
    font-family: 'Horizon', sans-serif;
    font-size: 4em;
    margin-bottom: 0;
    animation: slideUpText 0.6s ease-out;
}

.hero-text h2{
    font-family: "Questrial", sans-serif;
    font-weight: lighter;
    align-self: end;
    margin-top: 0;
    animation: slideUpText 1s ease-out;
}

.hero-mac{
    width: 60%;
    position: absolute;
    top: 50;
    z-index: -2;
}

.hero-blob{
    position: absolute;
    left: -50px;
    transform: translateX(-50%);
    z-index: -1;
}

@keyframes slideUpText {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width : 900px){
    .hero{
        margin-top: 20%;
        min-height: 40vh;
    }
    .hero-text h1{
        font-size:large;
    }
    .hero-text h2{
        font-size:medium;
    }
    .hero-mac{
        width: 100%;
    }
    .hero-blob{
        width: 50%;
    }
}